
	/*--Elementer--*/
body 
	{
	padding-left: 11em;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    background-color: orange;
	}
div
	{
	background: #fff;
	margin: 0 auto;
	width: 200px;
	padding: 10px;
	text-align: center;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	}
address 
	{
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
	}	

	/*--Class--*/	

ul.navbar 
	{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em; 
	}	
ul.navbar li 
	{
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black 
	}
ul.navbar a 
	{
    text-decoration: none 
	}
a:link 
	{
    color: blue 
	}
a:visited 
	{
    color: purple 
	}	

	/*--ID--*/

#red 
	{
	color:red;
	}
#yellow 
	{
	color:yellow;
	}
#blue 
	{
	color:blue;
	}
#brown 
	{
	color:brown;
	}
#orange 
	{
	color:orange;
	}
